<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle} ?: 'Resume Hub'">Resume Hub</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!-- Live Reload (개발용 선택) -->
    <script src="http://localhost:35729/livereload.js"></script>

    <!-- Custom CSS fragment -->
    <th:block layout:fragment="css"></th:block>
</head>

<body>

<!-- ⭐ Header Fragment -->
<div th:replace="~{fragments/header :: header}"></div>

<!-- ⭐ 본문 영역 -->
<main class="container mt-4">
    <th:block layout:fragment="content"></th:block>
</main>

<!-- ⭐ Footer Fragment -->
<div th:replace="~{fragments/footer :: footer}"></div>

<!-- JS -->
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>

<!-- Custom Script Fragment -->
<th:block layout:fragment="script"></th:block>

</body>
</html>
