<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}"> <head>
    <title>Home</title>
</head>

<body>
<th:block layout:fragment="content"> <div class="hero">
    <h1>나만의 온라인 이력서</h1>
    <p>깔끔한 UI로 이력서를 작성하고, 언제든지 다시 수정하고 관리하세요.</p>
    <div class="hero-actions" th:if="${#authorization.expression('isAnonymous()')}">
        <a th:href="@{/signup}" class="btn-primary large">지금 시작하기</a>
        <a th:href="@{/login}" class="btn-outline large">이미 계정이 있어요</a>
    </div>
    <div class="hero-actions" th:if="${#authorization.expression('isAuthenticated()')}">
        <a th:href="@{/resumes}" class="btn-primary large">내 이력서 관리하기</a>
    </div>
</div>
</th:block>
</body>
</html>